* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

* {
  font-family: 'Roboto Condensed', sans-serif; }

body {
  background-image: linear-gradient(#16161a, #242629);
  min-height: 967px; }

#main-grid {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header"
 "main_content"
 "footer"; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  min-height: 334px; }
  .card img {
    width: 90%;
    border-radius: 50%;
    margin: 0; }
  .card img:hover {
    cursor: pointer; }

.card-body {
  color: #fffffe;
  opacity: .85;
  text-align: center;
  margin: 5px 0px 0px 0px; }
  .card-body h4 {
    font-size: 1.5rem; }
  .card-body h5 {
    font-size: 1rem; }

.card-text {
  text-align: center; }

.carousel {
  width: 350px;
  height: auto;
  margin-bottom: 9px; }

.carousel-item {
  transition: transform 0s ease-in-out; }
  .carousel-item img:hover {
    cursor: pointer; }

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 0s; }

.contact-form {
  /*Applied to form.scss and to titles.scss> .section-title*/
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 30px; }
  .contact-form fieldset {
    /*Applied to form.scss and to titles.scss> .section-title*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em; }
  .contact-form div input {
    margin: 5px; }

.contact-image {
  margin-bottom: 30px;
  opacity: 0.8; }

.form-control-width {
  max-width: 45%; }

.message {
  min-height: 100px; }
  .message input {
    width: 296px;
    min-height: 70px; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.modal-text-container {
  max-width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.modal-pictures-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  height: 350px;
  width: 100%;
  margin-bottom: 25px; }
  .modal-pictures-container .modal-icons-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 40px; }
  .modal-pictures-container .modal-icons-container img {
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px; }
  .modal-pictures-container .carousel {
    margin-left: 8%;
    margin-right: 4%; }
  .modal-pictures-container .project-carousel-img {
    border-radius: 3%; }

.modal-h6 {
  font-size: 1.5rem;
  margin-left: 5px; }

.modal-deploy-button {
  background-color: #e6e6e6;
  border-radius: 15px;
  border: 2px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #191a19;
  font-family: 'Roboto condensed';
  font-size: 17px;
  font-weight: bold;
  padding: 16px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .modal-deploy-button img {
    width: 20px;
    margin-left: 10px; }

.modal-deploy-button:hover {
  background-color: #d1d0cf; }

.modal-deploy-button:active {
  position: relative;
  top: 1px; }

.modal-content {
  justify-content: center;
  align-items: center; }

.navbar-background-color {
  background-image: linear-gradient(#242629 55%, #16161a); }

p {
  color: #94a1b2; }

.section-text {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  max-width: 450px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.resume-text {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px; }

h1 {
  font-weight: 100;
  font-size: 3rem;
  margin-top: 80px; }

.index-h2 {
  font-weight: 300;
  font-size: 1rem;
  max-width: 90%; }

.resume-h2 {
  font-weight: 100;
  font-size: 2rem;
  margin-TOP: 80px; }

.resume-mid-titles {
  font-weight: lighter;
  text-decoration: underline;
  padding-left: 10px;
  padding-right: 10px; }

.resume-top-title {
  font-weight: lighter;
  font-size: 1.1rem;
  opacity: .5; }

.section-title {
  /*Applied to form.scss and to titles.scss> .section-title*/
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffffe;
  opacity: .85;
  text-align: center;
  margin: 5px 0px 15px 0px; }
  .section-title h4 {
    font-size: 1.5rem; }
  .section-title h5 {
    font-size: 1rem; }
  .section-title section ul {
    list-style-type: none; }

.about-img {
  width: 350px;
  margin-bottom: 15px; }

.about {
  margin-bottom: 2rem; }

footer {
  grid-area: footer; }
  footer a {
    color: #fffffe;
    opacity: .85;
    margin-left: .25rem;
    margin-right: .25rem; }

.footer-text {
  margin: 0; }

.footer-background-color {
  background-color: #242629; }

.sink-footer {
  /*Sends footer to the bottom in pages 
    without enough content to scroll down.*/
  width: 100%;
  position: relative;
  bottom: 0vh; }

header {
  grid-area: header; }

main {
  grid-area: main_content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 885px;
  align-items: center;
  margin: auto auto auto auto;
  min-height: 977px; }

.main-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
  .main-section form {
    max-width: 320px; }

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px; }

.projects {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  align-items: center; }
  .projects li {
    margin: .5rem; }

.project-list {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.profile-pic {
  width: 150px;
  border-radius: 50%;
  margin: 15px; }

.resume {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap; }

@media screen and (max-width: 991px) {
  .modal-pictures-container {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .modal-pictures-container .modal-icons-container {
      display: none; }
    .modal-pictures-container .carousel {
      margin-left: 0;
      margin-right: 0; } }

@media screen and (max-width: 930px) {
  .project-list-container {
    display: flex;
    justify-content: center; }
  body {
    background-image: linear-gradient(#16161a, #242629 70%); }
  .projects {
    display: flex;
    flex-wrap: wrap;
    width: 384px; } }

@media screen and (max-width: 430px) {
  /*This media query was necessary to make the 
    footer get a different style in phone devices.*/
  footer nav div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse; }
  .footer-text {
    margin-bottom: 3px; }
  main {
    min-height: 850px; }
  .projects {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center; }
  .project-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center; } }
