footer {
    grid-area: footer;

    a {
        color: #fffffe;
        opacity: .85;
        margin-left: .25rem;
        margin-right: .25rem;
    }
}

.footer-text {
    margin: 0;
}

.footer-background-color {
    background-color: #242629;

}

.sink-footer {
    /*Sends footer to the bottom in pages 
    without enough content to scroll down.*/
    width: 100%;
    position: relative;
    bottom: 0vh;
}