p {
    color: map-get($colors, paragraph-color);
}

.section-text {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    max-width: 450px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.resume-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}