h1 {
    font-weight: 100;
    font-size: 3rem;
    margin-top: 80px;
}

.index-h2 {
    font-weight: 300;
    font-size: 1rem;
    max-width: 90%;
}

.resume-h2 {
    font-weight: 100;
    font-size: 2rem;
    margin-TOP: 80px;
}

.resume-mid-titles {
    font-weight: lighter;
    text-decoration: underline;
    padding-left: 10px;
    padding-right: 10px;
}

.resume-top-title {
    font-weight: lighter;
    font-size: 1.1rem;
    opacity: .5;
}

.section-title {
    @include flex-column-center;
    color: #fffffe;
    opacity: .85;
    text-align: center;
    margin: 5px 0px 15px 0px;

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1rem;
    }

    section {

        ul {
            list-style-type: none;
        }
    }
}