@media screen and (max-width:991px) {

    .modal-pictures-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .modal-icons-container{
            display: none;
        }

        .carousel{
            margin-left: 0;
            margin-right: 0;
        }
    }
    
    

    
}

@media screen and (max-width:930px) {

    .project-list-container {
        display: flex;
        justify-content: center;
    }

    body {
        background-image: linear-gradient(map-get($colors, primary), map-get($colors, secondary) 70%);

    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        width: 384px;
    }

}

@media screen and (max-width:430px) {

    /*This media query was necessary to make the 
    footer get a different style in phone devices.*/

    footer {
        nav {
            div {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column-reverse;
            }
        }
    }

    .footer-text {
        margin-bottom: 3px;
    }



    main {
        min-height: 850px;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        align-items: center;
    }

    .project-list-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}